*{
padding:0px;
margin:0px;

}
.wrapper{
  margin:0px auto;
  width:1200px;

}
#header{
  width:100%;
  height:100px;
  background-color:#336699;

}
div h1{
  color:white;
  font-family:arial;
  padding-top:14px;
  margin-top:0px;
  text-align:center;


}
#login-form{
  margin-top:14px;
}
#decon{
  float:right;
  margin-top:20px;
}
